<div class='' style='position: relative'>
 
    <img class='img-thumbnail' src=
"http://maps.googleapis.com/maps/api/staticmap?center={{map.address}}&amp;
zoom={{map.zoom}}&amp;size={{mapDimensions()}}&amp;markers=color:red|{{map.address}}"
        class="img-responsive"/>
        <br>
        <div style='position: absolute; top: 1em; left: 5em'>
                <button style='padding: 4px 8px; opacity:0.8'
                class="btn btn-primary" ng-click="zoomIn()">
                        <span class="glyphicon glyphicon-plus"></span></button>
 
                <button style='padding: 4px 8px; opacity:0.8'
                class="btn btn-primary" ng-click="zoomOut()">
                        <span class="glyphicon glyphicon-minus"></span></button>
        </div>
</div>