<nav class="navbar navbar-default navbar-static-top container-fluid">      
    <!-- <div class='container-fluid'> -->
        <div class="nav navbar-header">
            <a class="navbar-brand" href="#/home">Grange Manor National School</a>
            <button type="button" class="navbar-toggle"
                data-toggle="collapse"
                data-target="#myCollapsingList">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myCollapsingList">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-item" href="#/home">Home</a>
                </li>
                <li>
                    <a class="navbar-item" href="#/news">Latest News</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle navbar-item" data-toggle="dropdown" role="button">Info For Parents <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navbar-item" href='#/info/greenschools'>Green Schools</a>
                        </li>
                        <li>
                            <a class="navbar-item" href='#/info/booklists'>Booklists</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="navbar-item" href="#/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    <!-- </div> -->
</nav>