<div class="container-fluid">
    <div class="row welcome">
        <div class="jumbotron">
            <h2>Welcome to Grange Manor National School</h2>
            <p>
                Grange Manor National School is a completely ficticious school that was invented just for the purpose of a web design project. You should ignore everything you see on this site as it is solely placeholder content, this includes all text and images/videos/audio.  If you have any questions about the design / development aspects of this site then you can get hold of the developer at <a href="http://markrailton.com" target="_blank">MarkRailton.com</a>.
            </p>
        </div>
    </div>
    <div class="row slideshow">                      
        <div class="slideshow">
            <figure>
                <img src="images/green-schools.jpg">
                <img src="images/kids.jpg">
                <img src="images/reading.jpg">
                <img src="images/exterior.jpg">
                <img src="images/green-schools.jpg">
            </figure>
        </div>
    </div>
    <div class="row info-boxes">
        <div class="col-md-4">
            <div class="info-box">                           
                <div class="icon">
                    <i class="fa fa-newspaper-o"></i>
                </div>
                <div class="info">
                    <h3 class="title">Latest News</h3>
                    <p>
                        Our news section is the best way to keep up to date with what is going on in our school.  We post regular updates so it's always a good idea to check in and see what's new.
                        <br><br>
                    </p>
                    <div class="more">
                        <a href="#/news" title="Title Link">
                            Read More <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info-box">                           
                    <div class="icon">
                        <i class="fa fa-flag-o"></i>
                    </div>
                    <div class="info">
                        <h3 class="title">Green Schools</h3>
                        <p>
                            We are fully committed to the green schools initiative and securing a better world for generations to come.  We have resources available on what we are doing with green schools and how you can help.
                        </p>
                        <div class="more">
                            <a href="#/info/greenschools" title="Title Link">
                                Read More <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info-box">                           
                <div class="icon">
                    <i class="fa fa-envelope-o"></i>
                </div>
                <div class="info">
                    <h3 class="title">Contact Us</h3>
                    <p>
                        We believe it's important to stay in touch.  If you have any questions not answered on our website then please do not hesitate to get in touch by filling out our contact form.
                        <br><br>
                    </p>
                    <div class="more">
                        <a href="#/contact" title="Title Link">
                            Read More <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>