<div class="container-fluid">
    <div class="row header">
        <h1>Our Latest News</h1>
    </div>
    <div class="row news-list">
        <div class="col-md-10 col-md-offset-1">
            <div ng-repeat="item in newsList">
                <div class="news-item">
                    <h2>{{item.title}}</h2>
                    <h6>Posted on {{item.date}} by {{item.author}}</h6>
                    <p>
                        {{item.content_short}}
                    </p>
                    <div class="more">
                        <a href="#news/{{item.id}}">
                            Read More <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>